/*!
 * @env production:2.0.0 @commit 613894c5409bde3a24424f376a75b77850e0be87
 * 
 */
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,700&display=swap&subset=cyrillic,cyrillic-ext);

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-animation: styles__bugfix infinite 1s;
  font-family: "PT Sans", sans-serif;
}

html,
body,
div,
span,
cite,
code,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
small,
sub,
sup,
b,
i,
a,
ol,
ul,
li,
footer,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

input,
textarea,
select {
  font: inherit;
  font-size: 100%;
  margin: 0;
  line-height: normal;
}

input,
select {
  vertical-align: top;
  -webkit-appearance: none;
}

input::-moz-focus-inner,
select::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

audio,
video {
  display: inline-block;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

img {
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 20px;
  /* background: var(--w2); */
  position: relative;
  color: var(--w2);
  height: 100%;
}

* {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--b800);
  transition: color 0.2s ease;
}

a:hover {
  color: var(--b700);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--w2) inset !important;
  -webkit-text-fill-color: var(--w8) !important;
}

#app {
  height: 100%;
}

body.yellow {
  background: var(--y500);
}

.Profile__title {
  font-family: "Roboto Mono", monospace;

  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  border-bottom: 2px solid var(--w8);
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.Profile__candidateFrom {
  margin-bottom: 40px;
}

.Profile__candidateFrom .Profile__location {
  vertical-align: bottom;
}

.Profile__candidateFrom .Profile__locationIcon {
  font-size: 22px;
  margin-right: 10px;
}

@-webkit-keyframes Profile__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Profile__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.Profile__content {
  flex-grow: 1;
  width: 100%;
}

.Profile__content {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .Profile__content {
    flex-direction: column
  }
}

.Profile__expectationsBlock {
  position: relative;
  color: var(--w2);
  background: var(--w8);
  padding-top: 40px;

  flex: 1;
}

.Profile__expectationsBlock:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  border: 40px solid transparent;
  border-left-color: var(--w8helper);
  border-top-color: var(--w8helper);
}

.Profile__expectationsBlock:after {
  content: "";
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  border: 40px solid transparent;
  border-right-color: var(--y500);
  border-bottom-color: var(--y500);
}

.Profile__expectationsBlock .Profile__expectationsBlockInner {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

@media screen and (min-width: 1025px) {
  .Profile__expectationsBlock .Profile__expectationsBlockInner {
    position: relative;
    z-index: 1;
    max-width: 425px;
    margin: 0 auto;
    padding: 70px 20px
  }
}

@media screen and (max-width: 1024px) {
  .Profile__expectationsBlock .Profile__expectationsBlockInner {
    padding: 70px 100px
  }
}

@media screen and (max-width: 677px) {
  .Profile__expectationsBlock .Profile__expectationsBlockInner {
    padding: 15px
  }
}

.Profile__expectationsBlock .Profile__title {
  border-bottom-color: var(--w2);
}

.Profile__expectationsBlock:before {
  margin-top: 40px;
}

.Profile__candidateInfoBlock {
  flex: 2;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .Profile__candidateInfoBlock {
    padding: 0
  }
}

.Profile__candidateInfoBlock .Profile__candidateInfoBlockInner {
  margin: 0 auto;
}

@media screen and (min-width: 1025px) {
  .Profile__candidateInfoBlock .Profile__candidateInfoBlockInner {
    max-width: 860px;
    padding: 20px 20px
  }
}

@media screen and (max-width: 1024px) {
  .Profile__candidateInfoBlock .Profile__candidateInfoBlockInner {
    padding: 40px 100px;
    width: 100%
  }
}

@media screen and (max-width: 677px) {
  .Profile__candidateInfoBlock .Profile__candidateInfoBlockInner {
    padding: 15px
  }
}

.Profile__footerBlock {
  border-top: 1px solid var(--w7);
}

.Profile__title {
  font-family: "Roboto Mono", monospace;

  font-weight: bold;
  font-size: 2.6rem;
  line-height: 3rem;
  border-bottom: 2px solid var(--w8);
  padding: 0 0 15px;
  margin-bottom: 30px;
}

.Profile__expecatationsList {
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .Profile__expecatationsList {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap
  }
}

.Profile__technologiesTitle {
  margin-bottom: 10px;
}

.Profile__tagsList {
  margin-bottom: -10px;
}

.Profile__tagsList .Profile__tag {
  display: inline-block;
  vertical-align: top;

  color: var(--w8);
  background: var(--w2);
  font-size: 16px;
  line-height: 30px;
  padding: 0 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.Profile__tagsList .Profile__tag:last-child {
  margin-right: 0;
}

.Profile__comment {
  margin-top: 30px;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (max-width: 1024px) {
  .Profile__comment {
    margin-top: 20px
  }
}

.Profile__experienceList {
  margin-top: 15px;
}

@-webkit-keyframes Profile__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes Profile__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Profile__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Profile__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes Profile__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes Profile__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.Profile__expectationBlock {
  margin-bottom: 15px;
  display: flex;
  font-size: 15px;
}

.Profile__expectationBlock .Profile__icon {
  font-size: 18px;
  margin-right: 15px;
}

.Profile__expectationBlock .Profile__text {
  color: var(--w2);
}

.Profile__expectationBlock .Profile__text.Profile__notPrincipal {
  color: var(--w9);
}

@media screen and (max-width: 1024px) {
  .Profile__expectationBlock:nth-child(2n + 2) {
    width: 30%;
  }

  .Profile__expectationBlock:nth-child(2n + 3) {
    width: 70%;
  }

  .Profile__expectationBlock:first-child,
  .Profile__expectationBlock:last-child {
    width: 100%;
  }
}

@media screen and (max-width: 677px) {
  .Profile__expectationBlock:nth-child(n) {
    width: 100%;
  }
}

@-webkit-keyframes Profile__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes Profile__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Profile__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Profile__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes Profile__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes Profile__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.Profile__experience {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid var(--w7);
  padding-top: 10px;
}

.Profile__experienceName {
  font-family: "Roboto Mono", monospace;

  font-size: 18px;
  font-weight: bold;
  word-break: break-word;
}

.Profile__experienceDate {
  font-size: 16px;
  line-height: 25px;
  padding-left: 5px;
  color: var(--w9);
  text-align: right;
  flex-flow: row wrap;
}

.Profile__experiencePeriod {
  flex: 1;
  white-space: nowrap;
}

.Profile__experienceDescription {
  padding-top: 0;
}

.Profile__experienceDescription pre {
  white-space: pre-wrap;
}

.Profile__skillsTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.Profile__skillsList {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 0 -5px;
}

.Profile__skill {
  flex: 0 1 50%;
  padding: 5px;
}

@media screen and (max-width: 677px) {
  .Profile__skill {
    flex: 1 0 100%
  }
}

.Profile__skillInner {
  height: 100%;
  background: var(--w5);
  line-height: 20px;
  padding: 10px 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.Profile__skillName {
  word-break: break-word;
  padding-right: 10px;
}

.Profile__skillYears {
  white-space: nowrap;
}

.Profile__skillYearsText {
  display: inline-block;
  vertical-align: top;

  padding-right: 12px;
}

.Profile__skillYear {
  display: inline-block;
  vertical-align: top;

  font-size: 20px;
}

.TasksList__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.TasksList__content {
  flex-grow: 1;
  width: 100%;
}

.TasksList__container {
  padding-top: 40px;
}

.TasksList__contentInner {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.TasksList__headerWrapper {
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13);
  background: var(--w3);
}

.TasksList__header {
  background: var(--w8);
  padding: 30px 0 30px;
  color: var(--w2);
}

.TasksList__header .TasksList__infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 677px) {
  .TasksList__header .TasksList__infoContainer {
    flex-flow: column;
    align-items: center
  }

  .TasksList__header .TasksList__infoContainer .TasksList__infoBlock {
    margin-bottom: 15px;
  }
}

.TasksList__header .TasksList__headerTitle {
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 10px;
}

.TasksList__header .TasksList__headerDuration,
.TasksList__header .TasksList__headerTasks {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  margin-right: 15px;
  color: var(--w9);
}

.TasksList__header .TasksList__headerProgress {
  margin-top: 25px;
  position: relative;
  width: 100%;
  height: 4px;
  overflow: hidden;
}

.TasksList__header .TasksList__headerProgress.TasksList__dark {
  background: var(--w7light);
}

.TasksList__header .TasksList__headerProgress.TasksList__light {
  background: var(--w9);
}

.TasksList__header .TasksList__headerProgress .TasksList__headerProgressInner {
  position: absolute;
  z-index: 1;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
}

.TasksList__header .TasksList__headerProgress .TasksList__headerProgressInner.TasksList__dark {
  background: var(--b600);
}

.TasksList__header .TasksList__headerProgress .TasksList__headerProgressInner.TasksList__light {
  background: var(--w1);
}

.TasksList__remainingTasksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 677px) {
  .TasksList__remainingTasksContainer {
    flex-flow: column
  }

  .TasksList__remainingTasksContainer .TasksList__remainingTasksText {
    margin: 0 0 15px;
  }
}

.TasksList__remainingTime {
  width: 200px;
  background: var(--y500);
  text-align: center;
  padding: 10px 0;
  border-radius: 3px;
  color: var(--w1dark);
}

.TasksList__remainingTime .TasksList__remainingTitle {
  font-size: 12px;
  line-height: 12px;
}

.TasksList__remainingTime .TasksList__remainingCounter {
  font-family: "Roboto Mono", monospace;

  font-size: 18px;
  line-height: 20px;
  padding-top: 5px;
}

.TasksList__subHeader {

  padding: 20px 40px;
  line-height: 30px;
}

.TasksList__subHeader:after {
  content: "";
  display: table;
  clear: both;
}

.TasksList__subHeader .TasksList__subHeaderTasksCompleted {
  display: inline-block;
  vertical-align: top;

  font-size: 16px;
  margin-right: 5px;
  color: var(--r500);
}

.TasksList__subHeader .TasksList__subHeaderTasksText {
  display: inline-block;
  vertical-align: top;

  font-size: 16px;
  color: var(--w9);
}

.TasksList__subHeader .TasksList__subHeaderFinishButton {
  font-family: "Roboto Mono", monospace;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  border-radius: 3px;
  font-weight: 500;
  transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  outline: none;
  text-align: center;
  border: 0;
  position: relative;

  color: var(--r500);
  border: 1px solid var(--r500);
  width: 100%;
  max-width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.TasksList__subHeader .TasksList__subHeaderFinishButton:before {
  right: 10px;
  top: 10px;
}

.TasksList__subHeader .TasksList__subHeaderFinishButton:disabled {
  cursor: default;
  color: #000 !important;
  background: var(--w6) !important;
}

.TasksList__subHeader .TasksList__subHeaderFinishButton:after {
  display: none;
  content: "";
  border: 2px solid #fff;
  border-right-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 30px;
  margin-left: 10px;
  -webkit-animation: TasksList__rotating 1s linear infinite;
  animation: TasksList__rotating 1s linear infinite;
  transform-origin: center;
  vertical-align: top;
}

.TasksList__subHeader .TasksList__subHeaderFinishButton.TasksList__loading:after {
  display: inline-block;
}

.TasksList__subHeader .TasksList__subHeaderFinishButton:hover {
  color: var(--r500);
  border-color: var(--r500);
}

.TasksList__subHeader .TasksList__subHeaderFinishButton:after {
  border-color: var(--r500);
  border-right-color: transparent;
}

.TasksList__infoText {
  font-size: 12px;
  color: var(--w9);
}

.TasksList__goBackButton {
  font-family: "Roboto Mono", monospace;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  border-radius: 3px;
  font-weight: 500;
  transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  outline: none;
  text-align: center;
  border: 0;
  position: relative;

  color: var(--white);
  background: var(--g500);
  width: 100%;
  max-width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;

  min-width: 150px;
  margin-top: 30px;
}

.TasksList__goBackButton:before {
  right: 10px;
  top: 10px;
}

.TasksList__goBackButton:disabled {
  cursor: default;
  color: #000 !important;
  background: var(--w6) !important;
}

.TasksList__goBackButton:after {
  display: none;
  content: "";
  border: 2px solid #fff;
  border-right-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 30px;
  margin-left: 10px;
  -webkit-animation: TasksList__rotating 1s linear infinite;
  animation: TasksList__rotating 1s linear infinite;
  transform-origin: center;
  vertical-align: top;
}

.TasksList__goBackButton.TasksList__loading:after {
  display: inline-block;
}

.TasksList__goBackButton:hover {
  color: var(--white);
  background: var(--g700);
}

@-webkit-keyframes TasksList__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes TasksList__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes TasksList__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes TasksList__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes TasksList__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes TasksList__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.TasksList__tasksTableContainer {
  margin: 30px 0 0;
  overflow: auto;
}

.TasksList__tasksTableInner {
  width: 100%;
  min-width: 500px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.TasksList__tableHeader {
  border-bottom: 1px solid var(--w7);
  color: var(--w9);
  display: flex;
  justify-content: space-between;
}

.TasksList__cell {
  flex: 1 1 25%;
  font-weight: bold;
  margin: 0 0 20px;
  color: var(--w8);
  display: flex;
  align-items: center;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.TasksList__cellHeader {
  font-weight: normal;
  color: var(--w9);
  border-bottom: 1px solid;
}

.TasksList__cell:nth-child(4n) {
  justify-content: flex-end;
}

.TasksList__viewTaskButton {
  font-family: "Roboto Mono", monospace;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  border-radius: 3px;
  font-weight: 500;
  transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  outline: none;
  text-align: center;
  border: 0;
  position: relative;

  color: var(--b800);
  border: 1px solid var(--b800);
  width: 100%;
  max-width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.TasksList__viewTaskButton:before {
  right: 10px;
  top: 10px;
}

.TasksList__viewTaskButton:disabled {
  cursor: default;
  color: #000 !important;
  background: var(--w6) !important;
}

.TasksList__viewTaskButton:after {
  display: none;
  content: "";
  border: 2px solid #fff;
  border-right-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 30px;
  margin-left: 10px;
  -webkit-animation: TasksList__rotating 1s linear infinite;
  animation: TasksList__rotating 1s linear infinite;
  transform-origin: center;
  vertical-align: top;
}

.TasksList__viewTaskButton.TasksList__loading:after {
  display: inline-block;
}

.TasksList__viewTaskButton:hover {
  color: var(--b700);
  border-color: var(--b700);
}

.TasksList__viewTaskButton:after {
  border-color: var(--b700);
  border-right-color: transparent;
}

.TasksList__makeTaskButton {
  font-family: "Roboto Mono", monospace;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  border-radius: 3px;
  font-weight: 500;
  transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  outline: none;
  text-align: center;
  border: 0;
  position: relative;

  color: var(--white);
  background: var(--b800);
  width: 100%;
  max-width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.TasksList__makeTaskButton:before {
  right: 10px;
  top: 10px;
}

.TasksList__makeTaskButton:disabled {
  cursor: default;
  color: #000 !important;
  background: var(--w6) !important;
}

.TasksList__makeTaskButton:after {
  display: none;
  content: "";
  border: 2px solid #fff;
  border-right-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 30px;
  margin-left: 10px;
  -webkit-animation: TasksList__rotating 1s linear infinite;
  animation: TasksList__rotating 1s linear infinite;
  transform-origin: center;
  vertical-align: top;
}

.TasksList__makeTaskButton.TasksList__loading:after {
  display: inline-block;
}

.TasksList__makeTaskButton:hover {
  color: var(--white);
  background: var(--b700);
}

@-webkit-keyframes Vacancies__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes Vacancies__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Vacancies__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Vacancies__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes Vacancies__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes Vacancies__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.Vacancies__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.Vacancies__content {
  flex-grow: 1;
  width: 100%;
}

.Vacancies__container {
  padding-top: 40px;

  background: var(--w1);
}

.Vacancies__content {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 677px) {
  .Vacancies__content {
    width: auto;
    margin: 0
  }
}

.Vacancies__title {
  font-family: "Roboto Mono", monospace;

  font-size: 3rem;
  line-height: 1.1;
  margin: 5rem 0 3rem;
}

.Vacancies__menu {
  display: flex;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: "Roboto Mono", monospace;

  margin-bottom: 30px;
  border-bottom: 1px solid var(--w7);
  padding-left: 2px;
}

.Vacancies__menu .Vacancies__tab {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--w6);
  transition: color 0.2s ease;
}

.Vacancies__menu .Vacancies__tab:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: none;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.2s ease;
}

.Vacancies__menu .Vacancies__tab:hover {
  color: var(--w8);
}

.Vacancies__menu .Vacancies__tab.Vacancies__active {
  color: var(--w8);
  cursor: default;
}

.Vacancies__menu .Vacancies__tab.Vacancies__active:after {
  background: var(--b800);
}

.Vacancies__menu .Vacancies__tab.Vacancies__disabled {
  color: var(--w7);
  cursor: default;
}

@media screen and (max-width: 677px) {
  .Vacancies__menu {
    margin-bottom: 0
  }
}

.Vacancies__menu .Vacancies__tab {
  padding: 10px 0;
  margin-right: 40px;
}

@media screen and (max-width: 677px) {
  .Vacancies__menu .Vacancies__tab {
    margin-right: 5px;
    padding: 10px 0;
    flex: 1;
    justify-content: center
  }
}

.Vacancies__menu .Vacancies__tab.Vacancies__active:after {
  background: var(--y500);
}

.Vacancies__menu .Vacancies__tab:last-child {
  margin-right: 0;
}

.Vacancies__vacanciesList .Vacancies__vacancyItem {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--w10);
  background: var(--w2);
  border-radius: 3px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

@media screen and (max-width: 677px) {
  .Vacancies__vacanciesList .Vacancies__vacancyItem {
    flex-flow: column
  }
}

.Vacancies__vacanciesList .Vacancies__vacancyEmployer,
.Vacancies__vacanciesList .Vacancies__vacancyCandidate {
  flex: 1 0 50%;
  padding: 3rem 2rem;
}

@media screen and (max-width: 677px) {

  .Vacancies__vacanciesList .Vacancies__vacancyEmployer,
  .Vacancies__vacanciesList .Vacancies__vacancyCandidate {
    padding: 2rem 1rem
  }
}

.Vacancies__vacanciesList .Vacancies__vacancyEmployer .Vacancies__tagsList .Vacancies__tag {
  color: var(--white);
}

.Vacancies__vacanciesList .Vacancies__vacancyCandidate {
  color: var(--black);
  background: var(--bg100);
}

.Vacancies__vacanciesList .Vacancies__vacancyCandidate .Vacancies__tagsList .Vacancies__tag {
  background: var(--w11);
}

.Vacancies__vacanciesList .Vacancies__vacancyCandidate .Vacancies__tagsList .Vacancies__tag.Vacancies__notSatisfied {
  background: var(--r500_99);
}

.Vacancies__vacanciesList .Vacancies__vacancyCandidate .Vacancies__tagsList .Vacancies__tag.Vacancies__satisfied {
  background: var(--g500_99);
}

.Vacancies__vacanciesList .Vacancies__vacancyTitle {
  font-family: "Roboto Mono", monospace;

  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.Vacancies__vacanciesList .Vacancies__vacancyCompany {
  font-family: "Roboto Mono", monospace;

  padding-top: 5px;
  color: var(--w6);
}

.Vacancies__vacanciesList .Vacancies__vacancyDescription {
  white-space: pre-wrap;
  word-break: break-word;
}

.Vacancies__vacanciesList .Vacancies__matchTitle {
  font-family: "Roboto Mono", monospace;

  font-size: 18px;
  line-height: 25px;
  border-bottom: 2px solid var(--black);
  padding-bottom: 15px;
}

.Vacancies__vacanciesList .Vacancies__buttonsLine {
  padding-top: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.Vacancies__vacanciesList .Vacancies__buttonsLine .Vacancies__buttonInteresting {
  font-family: "Roboto Mono", monospace;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  border-radius: 3px;
  font-weight: 500;
  transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  outline: none;
  text-align: center;
  border: 0;
  position: relative;

  color: var(--white);
  background: var(--g500);
  padding: 15px 20px;
  font-size: 18px;

  flex-grow: 1;
  margin-right: 10px;
}

.Vacancies__vacanciesList .Vacancies__buttonsLine .Vacancies__buttonInteresting:before {
  right: 10px;
  top: 10px;
}

.Vacancies__vacanciesList .Vacancies__buttonsLine .Vacancies__buttonInteresting:disabled {
  cursor: default;
  color: #000 !important;
  background: var(--w6) !important;
}

.Vacancies__vacanciesList .Vacancies__buttonsLine .Vacancies__buttonInteresting:after {
  display: none;
  content: "";
  border: 2px solid #fff;
  border-right-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 30px;
  margin-left: 10px;
  -webkit-animation: Vacancies__rotating 1s linear infinite;
  animation: Vacancies__rotating 1s linear infinite;
  transform-origin: center;
  vertical-align: top;
}

.Vacancies__vacanciesList .Vacancies__buttonsLine .Vacancies__buttonInteresting.Vacancies__loading:after {
  display: inline-block;
}

.Vacancies__vacanciesList .Vacancies__buttonsLine .Vacancies__buttonInteresting:hover {
  color: var(--white);
  background: var(--g700);
}

.Vacancies__vacanciesList .Vacancies__buttonsLine .Vacancies__buttonDecline {
  font-family: "Roboto Mono", monospace;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  border-radius: 3px;
  font-weight: 500;
  transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  outline: none;
  text-align: center;
  border: 0;
  position: relative;

  color: var(--white);
  background: var(--r500);
  padding: 15px 20px;
  font-size: 18px;

  flex-grow: 1;
  margin-left: 10px;
}

.Vacancies__vacanciesList .Vacancies__buttonsLine .Vacancies__buttonDecline:before {
  right: 10px;
  top: 10px;
}

.Vacancies__vacanciesList .Vacancies__buttonsLine .Vacancies__buttonDecline:disabled {
  cursor: default;
  color: #000 !important;
  background: var(--w6) !important;
}

.Vacancies__vacanciesList .Vacancies__buttonsLine .Vacancies__buttonDecline:after {
  display: none;
  content: "";
  border: 2px solid #fff;
  border-right-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 30px;
  margin-left: 10px;
  -webkit-animation: Vacancies__rotating 1s linear infinite;
  animation: Vacancies__rotating 1s linear infinite;
  transform-origin: center;
  vertical-align: top;
}

.Vacancies__vacanciesList .Vacancies__buttonsLine .Vacancies__buttonDecline.Vacancies__loading:after {
  display: inline-block;
}

.Vacancies__vacanciesList .Vacancies__buttonsLine .Vacancies__buttonDecline:hover {
  color: var(--white);
  background: var(--r700);
}

.Vacancies__conditionsList {
  margin: 15px 0;
}

.Vacancies__salaryRate {
  white-space: nowrap;
}

.Vacancies__tagsList .Vacancies__tag {
  display: inline-block;
  vertical-align: top;

  background: var(--w9);
  font-size: 15px;
  line-height: 20px;
  padding: 0 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.Vacancies__tagsList .Vacancies__tag:last-child {
  margin-right: 0;
}

.Vacancies__tagsList.Vacancies__fullWidth .Vacancies__tag {
  width: 100%;
  margin-right: 0;
}

.Vacancies__collapser {
  font-size: 15px;
  color: var(--b800);
  cursor: pointer;
  transition: color 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
}

.Vacancies__collapser .Vacancies__collapseIcon {
  font-size: 8px;
  line-height: 8px;
  padding-top: 7px;
  padding-left: 8px;
}

.Vacancies__collapser:hover {
  color: var(--b700);
}

@-webkit-keyframes Vacancies__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes Vacancies__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Vacancies__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Vacancies__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes Vacancies__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes Vacancies__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.Vacancies__noVacancies {
  background: var(--white);
  color: var(--black);
}

.Vacancies__noVacanciesInner {
  padding: 100px 90px;
  display: flex;
}

@media screen and (max-width: 677px) {
  .Vacancies__noVacanciesInner {
    padding: 50px 20px;
    flex-direction: column
  }
}

.Vacancies__noVacanciesIconWrap {
  font-size: 60px;
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
}

@media screen and (max-width: 677px) {
  .Vacancies__noVacanciesIconWrap {
    justify-content: center;
    margin: 0 0 20px 0
  }
}

.Vacancies__noVacanciesTitle {
  font-family: "Roboto Mono", monospace;

  flex: 0 0 60%;
  font-size: 24px;
  margin-bottom: 20px;
}

.Vacancies__noVacanciesText {
  font-family: "Roboto Mono", monospace;
}

@-webkit-keyframes Registration__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes Registration__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Registration__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Registration__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes Registration__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes Registration__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.Registration__container {
  height: 100%;
}

.Registration__container .Registration__content {
  min-height: 100%;
  display: flex;
}

@media screen and (max-width: 677px) {
  .Registration__container .Registration__content {
    flex-flow: column
  }
}

.Registration__container .Registration__registrationFormBlock {
  padding-top: 40px;

  flex: 2 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Registration__container .Registration__registrationFormBlock .Registration__registrationFormInner {
  flex: 1;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px 60px;
}

.Registration__container .Registration__registrationFormBlock .Registration__registrationForm {
  max-width: 600px;
}

.Registration__container .Registration__registrationtInfo {
  flex: 1;
  background: var(--w8);
  color: var(--w2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 70px 60px 30px 60px;
  min-height: 100%;
  font-size: 160px;
}

.Registration__container .Registration__registrationtInfo .Registration__rbImageContainer {
  position: relative;
  padding: 45px 0 0 10px;
  height: 205px;
}

.Registration__container .Registration__registrationtInfo .Registration__rbImageContainer:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: var(--y500);
}

.Registration__container .Registration__registrationtInfo .Registration__rbImageContainer .Registration__rbImage {
  position: relative;
  z-index: 1;
}

.Registration__container .Registration__registrationtInfo .Registration__rbImageContainer.Registration__register {
  font-size: 180px;
  padding: 25px 0 0 0;
}

.Registration__container .Registration__registrationtInfo .Registration__rbImageContainer.Registration__info {
  font-size: 150px;
  padding: 55px 0 0 5px;
}

.Registration__container .Registration__registrationtInfo .Registration__rbImageContainer.Registration__socials {
  font-size: 140px;
  padding: 60px 0 0 6px;
}

.Registration__container .Registration__registrationtInfo .Registration__rbImageContainer.Registration__skills {
  font-size: 140px;
  padding: 59px 0 0 20px;
}

.Registration__container .Registration__registrationtInfo .Registration__rbImageContainer.Registration__experience {
  font-size: 170px;
  padding: 30px 0 0 0;
}

.Registration__container .Registration__registrationtInfo .Registration__rbImageContainer.Registration__preview {
  font-size: 130px;
  padding: 68px 0 0 30px;
}

.Registration__container .Registration__registrationtInfo .Registration__rbTitle {
  font-family: "Roboto Mono", monospace;

  padding-top: 30px;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}

.Registration__container .Registration__registrationtInfo .Registration__rbText {
  font-family: "Roboto Mono", monospace;

  font-size: 14px;
}

.Registration__container .Registration__registrationtInfo .Registration__rbText p {
  margin-top: 20px;
}

.Registration__container.Registration__editProfileMode .Registration__registrationForm {
  margin: 0 auto;
}

.Registration__container.Registration__editProfileMode .Registration__registrationtInfo {
  display: none;
}

.Registration__sections {
  display: flex;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;

  margin: 10px 0 30px;
  border-bottom: 1px solid var(--w7);
  justify-content: space-between;
}

.Registration__sections .Registration__tab {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--w6);
  transition: color 0.2s ease;
}

.Registration__sections .Registration__tab:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: none;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.2s ease;
}

.Registration__sections .Registration__tab:hover {
  color: var(--w8);
}

.Registration__sections .Registration__tab.Registration__active {
  color: var(--w8);
  cursor: default;
}

.Registration__sections .Registration__tab.Registration__active:after {
  background: var(--b800);
}

.Registration__sections .Registration__tab.Registration__disabled {
  color: var(--w7);
  cursor: default;
}

.Registration__sections .Registration__tab {
  color: var(--w9);
  flex: 0 1;
  padding: 10px 10px 10px 5px;
  font-size: 1.4rem;
  display: flex;
  align-items: flex-start;
}

.Registration__sections .Registration__tab.Registration__active:after {
  background: var(--y500);
}

.Registration__sections .Registration__tabCounter {
  flex: 0 0 15px;
}

.Registration__title {
  font-family: "Roboto Mono", monospace;

  text-align: center;
  font-size: 30px;
  line-height: 30px;
  padding: 50px 0 50px 0;
}

.Registration__pdaText {
  text-align: center;
  color: var(--w9);
  font-size: 12px;
  line-height: 16px;
  margin: 0 auto;
}

.Registration__pdaPrecaution {
  margin-bottom: 10px;
}

.Registration__form .Registration__formDescription {
  font-size: 14px;
  margin-bottom: 10px;
}

.Registration__form .Registration__leftPadded {
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.Registration__form .Registration__leftPaddedCheckbox {
  margin-left: 30px;
}

.Registration__form .Registration__leftPaddedCheckbox.Registration__withBottomMargin {
  margin-bottom: 20px;
}

.Registration__form.Registration__authForm {
  width: 400px;
  max-width: 100%;
  margin: auto;
}

.Registration__form.Registration__authForm .Registration__authSubmit {
  margin-top: 0;
}

.Registration__form.Registration__authForm .Registration__authBottomText {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin-top: 20px;
}

.Registration__form.Registration__authForm .Registration__authPassword {
  margin-bottom: 0;
}

.Registration__form.Registration__authForm .Registration__forgotPassLink {
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  padding-top: 4px;
}

.Registration__noBottomMargin {
  margin-bottom: 0;
}

.Registration__textAreaWrap {
  margin-bottom: 0;
}

.Registration__textAreaWrap textarea {
  min-height: 60px;
}

.Registration__authTextBlock {
  padding: 80px 100px 0 100px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.Registration__authTextBlock .Registration__authTextIcon {
  width: 44px;
  height: 44px;
  background: var(--b800);
  color: #fff;
  border-radius: 100%;
  text-align: center;
  padding-top: 11px;
  font-size: 22px;
  line-height: 1px;
  margin-bottom: 25px;
}

.Registration__addSocial {
  display: inline-block;
  vertical-align: top;

  padding: 20px 20px 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Registration__addSocial .Registration__addSocialSubtext {
  display: inline-block;
  vertical-align: top;

  color: var(--w9);
  padding-left: 8px;
}

.Registration__willingnessWrapper {
  margin-bottom: 0;
}

.Registration__backLinkContainer {
  text-align: center;
  margin: 10px 0 60px 0;
}

.Registration__backLinkContainer .Registration__backLink {
  display: inline-block;
  vertical-align: top;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;
  padding: 10px 0;
}

.Registration__backLinkContainer .Registration__backLink .Registration__backLinkIcon {
  display: inline-block;
  vertical-align: top;

  font-size: 16px;
  line-height: 16px;
  padding-top: 2px;
}

.Registration__backLinkContainer .Registration__backLink .Registration__backLinkText {
  display: inline-block;
  vertical-align: top;

  padding-left: 8px;
  font-size: 16px;
}

.Registration__finalTitle {
  font-size: 20px;
}

.Registration__profileButton {
  font-family: "Roboto Mono", monospace;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  border-radius: 3px;
  font-weight: 500;
  transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  outline: none;
  text-align: center;
  border: 0;
  position: relative;

  color: var(--b800);
  border: 1px solid var(--b800);
  padding: 15px 20px;
  font-size: 18px;

  width: 100%;
  margin: 20px 0 10px 0;
}

.Registration__profileButton:before {
  right: 10px;
  top: 10px;
}

.Registration__profileButton:disabled {
  cursor: default;
  color: #000 !important;
  background: var(--w6) !important;
}

.Registration__profileButton:after {
  display: none;
  content: "";
  border: 2px solid #fff;
  border-right-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 30px;
  margin-left: 10px;
  -webkit-animation: Registration__rotating 1s linear infinite;
  animation: Registration__rotating 1s linear infinite;
  transform-origin: center;
  vertical-align: top;
}

.Registration__profileButton.Registration__loading:after {
  display: inline-block;
}

.Registration__profileButton:hover {
  color: var(--b700);
  border-color: var(--b700);
}

.Registration__profileButton:after {
  border-color: var(--b700);
  border-right-color: transparent;
}

.Registration__finalSubtext {
  color: var(--w9);
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 30px;
}

@-webkit-keyframes ProfileEdit__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes ProfileEdit__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ProfileEdit__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ProfileEdit__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ProfileEdit__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ProfileEdit__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ProfileEdit__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.ProfileEdit__content {
  flex-grow: 1;
  width: 100%;
}

.ProfileEdit__container {
  padding-top: 40px;

  background: var(--w1);
}

.ProfileEdit__content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.ProfileEdit__contentBlock {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--w10);
  background: var(--w2);
  border-radius: 3px;

  padding: 0 8rem;
}

@media screen and (max-width: 677px) {
  .ProfileEdit__contentBlock {
    padding: 0
  }
}

.ProfileEdit__title {
  font-family: "Roboto Mono", monospace;

  font-size: 3rem;
  line-height: 1.1;
  margin: 0 0 3rem;
}

.FormChangePassword__submitBtn {
  margin-top: 0;
}

@-webkit-keyframes UserSettings__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes UserSettings__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes UserSettings__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes UserSettings__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes UserSettings__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes UserSettings__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.UserSettings__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.UserSettings__content {
  flex-grow: 1;
  width: 100%;
}

.UserSettings__container {
  padding-top: 40px;

  background: var(--w1);
}

.UserSettings__content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.UserSettings__title {
  font-family: "Roboto Mono", monospace;

  font-size: 3rem;
  line-height: 1.1;
  margin: 5rem 0 3rem;
}

.UserSettings__contentBlock {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--w10);
  background: var(--w2);
  border-radius: 3px;

  padding: 70px 100px;
}

@media screen and (max-width: 677px) {
  .UserSettings__contentBlock {
    padding: 20px
  }
}

.UserSettings__contentBlockInner {
  width: 100%;
  margin: 0 auto;
}

.UserSettings__deleteProfileBlock {
  text-align: center;
  margin: 20px 0 0;
}

.UserSettings__deleteProfileLink {
  color: var(--w6);
  cursor: pointer;
  display: inline;
}

.UserSettings__deleteProfileLink:hover {
  color: var(--w8);
}

@-webkit-keyframes Modals__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes Modals__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Modals__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Modals__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes Modals__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes Modals__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.Modals__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  background: rgba(0, 0, 0, 0.7);
  -webkit-animation: Modals__fadeIn 0.2s ease;
  animation: Modals__fadeIn 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modals__backdrop.Modals__leaving {
  -webkit-animation: Modals__fadeOut 0.2s ease;
  animation: Modals__fadeOut 0.2s ease;
}

.Modals__modal {
  color: #000;
  font-size: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 12;
  width: 400px;
  background: #fff;
  padding: 15px;
}

.Modals__modal .Modals__modalTitle {
  font-size: 30px;
  line-height: 32px;
}

.Modals__modal .Modals__modalContent {
  padding-top: 10px;
}

.Modals__modal .Modals__modalButtons {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.Modals__modal .Modals__modalButtons .Modals__modalButton {
  padding: 5px 10px;
  margin-left: 15px;
}

.Modals__modal .Modals__modalButtons .Modals__modalButton.Modals__blue {
  font-family: "Roboto Mono", monospace;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  border-radius: 3px;
  font-weight: 500;
  transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  outline: none;
  text-align: center;
  border: 0;
  position: relative;

  color: var(--white);
  background: var(--b800);
}

.Modals__modal .Modals__modalButtons .Modals__modalButton.Modals__blue:before {
  right: 10px;
  top: 10px;
}

.Modals__modal .Modals__modalButtons .Modals__modalButton.Modals__blue:disabled {
  cursor: default;
  color: #000 !important;
  background: var(--w6) !important;
}

.Modals__modal .Modals__modalButtons .Modals__modalButton.Modals__blue:after {
  display: none;
  content: "";
  border: 2px solid #fff;
  border-right-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 30px;
  margin-left: 10px;
  -webkit-animation: Modals__rotating 1s linear infinite;
  animation: Modals__rotating 1s linear infinite;
  transform-origin: center;
  vertical-align: top;
}

.Modals__modal .Modals__modalButtons .Modals__modalButton.Modals__blue.Modals__loading:after {
  display: inline-block;
}

.Modals__modal .Modals__modalButtons .Modals__modalButton.Modals__blue:hover {
  color: var(--white);
  background: var(--b700);
}

.Modals__modal .Modals__modalButtons .Modals__modalButton.Modals__blue-transparent {
  font-family: "Roboto Mono", monospace;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  border-radius: 3px;
  font-weight: 500;
  transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  outline: none;
  text-align: center;
  border: 0;
  position: relative;

  color: var(--b800);
  border: 1px solid var(--b800);
}

.Modals__modal .Modals__modalButtons .Modals__modalButton.Modals__blue-transparent:before {
  right: 10px;
  top: 10px;
}

.Modals__modal .Modals__modalButtons .Modals__modalButton.Modals__blue-transparent:disabled {
  cursor: default;
  color: #000 !important;
  background: var(--w6) !important;
}

.Modals__modal .Modals__modalButtons .Modals__modalButton.Modals__blue-transparent:after {
  display: none;
  content: "";
  border: 2px solid #fff;
  border-right-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 30px;
  margin-left: 10px;
  -webkit-animation: Modals__rotating 1s linear infinite;
  animation: Modals__rotating 1s linear infinite;
  transform-origin: center;
  vertical-align: top;
}

.Modals__modal .Modals__modalButtons .Modals__modalButton.Modals__blue-transparent.Modals__loading:after {
  display: inline-block;
}

.Modals__modal .Modals__modalButtons .Modals__modalButton.Modals__blue-transparent:hover {
  color: var(--b700);
  border-color: var(--b700);
}

.Modals__modal .Modals__modalButtons .Modals__modalButton.Modals__blue-transparent:after {
  border-color: var(--b700);
  border-right-color: transparent;
}

.Modals__modal .Modals__close {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  font-size: 10px;
  padding: 8px;
  color: #000;
  transition: color 0.2s ease;
  cursor: pointer;
}

.Modals__modal .Modals__close:hover {
  color: var(--b800);
}

@-webkit-keyframes Notifications__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes Notifications__rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Notifications__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Notifications__fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes Notifications__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes Notifications__fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.Notifications__notifications {
  position: fixed;
  top: 50px;
  right: 15px;
  width: 370px;
  z-index: 11;
}

.Notifications__notification {
  color: #000;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
}

.Notifications__notification .Notifications__notificationInner {
  background: #fff;
  padding: 20px 30px 20px 75px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.Notifications__notification .Notifications__close {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  font-size: 10px;
  padding: 8px;
  color: #000;
  transition: color 0.2s ease;
  cursor: pointer;
}

.Notifications__notification .Notifications__close:hover {
  color: var(--b800);
}

.Notifications__notification .Notifications__typeIcon {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 20px;
  font-size: 28px;
}

.Notifications__notification .Notifications__typeIcon.Notifications__info {
  color: var(--b700);
}

.Notifications__notification .Notifications__typeIcon.Notifications__success {
  color: var(--g500);
}

.Notifications__notification .Notifications__typeIcon.Notifications__error {
  color: var(--r500);
}

.Notifications__notification.Notifications__visible {
  opacity: 1;
}

.Notifications__notification.Notifications__leaving {
  opacity: 0;
}

.tag {
  background-color: rgba(70, 70, 70, .1);
  padding: 5px 10px;
  border-radius: 5px;
}

@media print {
  .tag {
    background-color: rgba(70, 70, 70, .1);
    -webkit-print-color-adjust: exact;
  }
}


.tags-container {
  padding-top: 15px;
}

.contact_container {
  padding-top: 15px;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
}
.contact_container > * {
  margin-bottom: 10px;
}

.project-container {
  padding: 10px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid gray;
}

.project-container:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.project-container > div {
  margin-bottom: 15px;
}

.project-container > p {
  margin-bottom: 10px;
}

.project-list {
  margin-top: 4px;
}

.project-list > span {
  line-height: 24px;
}

.modules {
  margin-top: 10px;
}

.no-flex {
  display: block;
  border-top: none;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.project-title {
  font-weight: bold;
}

.project-tasks {
  padding-top: 10px;
}

.centered {
  margin-bottom: 15px;
}

.job {
  display: flex;
  justify-content: space-between;
}